################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calculator.API/bin/Debug/netcoreapp3.1
/Calculator.API/obj
/.vs/Calculator
